includes:
	- phpstan-base.neon
rules:
	- 'Iniznet\Mahout\Devtools\Rules\NoRawHookNameRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoExtractRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoDynamicPropertyRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoMixedInPublicSignatureRule'
	- 'Iniznet\Mahout\Devtools\Rules\ComponentMustNotCallRepositoryRule'
	- 'Iniznet\Mahout\Devtools\Rules\ComponentMustNotReferenceWpTypesRule'
	- 'Iniznet\Mahout\Devtools\Rules\FieldLayerOnlyMetaAccessRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoMetaQueryInPublicApiRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoUnboundedPostsPerPageRule'
	- 'Iniznet\Mahout\Devtools\Rules\LayerDirectionRule'
	- 'Iniznet\Mahout\Devtools\Rules\InternalNotCrossPackageRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoTraitPropertyRule'
	- 'Iniznet\Mahout\Devtools\Rules\TraitNoUndeclaredMemberRule'
	- 'Iniznet\Mahout\Devtools\Rules\ExceptionNamedConstructorRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoBaseExceptionConstructionRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoStaticServiceAccessRule'
	- 'Iniznet\Mahout\Devtools\Rules\ErrorLogOnlyInDiagnosticsRule'
	- 'Iniznet\Mahout\Devtools\Rules\SuperglobalsOnlyInRequestRule'
	- 'Iniznet\Mahout\Devtools\Rules\RestRequiresPermissionCallbackRule'
	- 'Iniznet\Mahout\Devtools\Rules\NonceLiteralOnlyInNoncesRule'
	- 'Iniznet\Mahout\Devtools\Rules\CapabilityLiteralOnlyInCapabilitiesRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoIncompatibleMetaBoxFlagRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoWpListTableSubclassRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoQuickEditHandlerRule'
	- 'Iniznet\Mahout\Devtools\Rules\TransactionOnlyInGatewayRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoGlobalCacheFlushRule'
	- 'Iniznet\Mahout\Devtools\Rules\CacheFlushGroupOnlyInInvalidationRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoCookieRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoSeoMetaRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoHandSetSecurityHeaderRule'
	- 'Iniznet\Mahout\Devtools\Rules\ReflectionOnlyInTestsAndRulesRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoPathRepositoryRule'
	- 'Iniznet\Mahout\Devtools\Rules\DispatchArmDeclaresCacheabilityRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoNonceInSharedSurfaceRule'
	- 'Iniznet\Mahout\Devtools\Rules\BoundedHowdahStatementRule'
	- 'Iniznet\Mahout\Devtools\Rules\NoCriticalDiagnosticsOnReadPathRule'
services:
	-
		class: 'Iniznet\Mahout\Devtools\Rules\SharedSurfaceCollector'
		tags:
			- phpstan.collector
